
:root {
    --primery-text-color: #757575;
    --title-text-color: #212121;
    --color-logo: #2196F3;
    --color-bacgraund-hovfut:#2F303A;
    --font-family: 'Raleway', sans-serif;
    --font-family: 'Roboto', sans-serif;
}

/*сброс таблиц*/
.list {
    list-style: none;
}

.link {
    text-decoration: none;
}
body {
    font-family: 'Roboto', sans-serif;
    color:var(--primery-text-color);
}
/*title heder*/
.header-main {
    background-color: #ffffff;
}
.section-title {
    color:var(--title-text-color);
}
/*логотип*/
.logo {
font-family: 'Raleway',sans-serif;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #000000;
}
.web {
    color:var(--color-logo);
}
/*навигация хэдэр*/
.title-nav {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.2;
        letter-spacing: 0.02em;
}
.studia-title { 
        color:var(--title-text-color);
}
.title-nav-text {
        font-size: 14px;
        line-height: 1.1;
        letter-spacing: 0.02em;
    
        color:var(--title-text-color);
}
.title-nav-text:hover,
.title-nav-text:focus {
    color:var(--color-logo);
}

.portfolio-title,
.kontakt-title {
    color:var(--title-text-color);
}
/*site nav */
.site-nav {
        font-size: 14px;
        line-height: 1.2;
        letter-spacing: 0.02em;
}
.site-nav-mail {
    color:var(--primery-text-color);
}
.site-nav-mail:hover,
.site-nav-mail:focus {
  color:var(--color-logo);  
}
.site-nav-tel {
    color:var(--primery-text-color);
}
.site-nav-tel:hover,
.site-nav-tel:focus{
    color: var(--color-logo);
}

/*===================================hero==========================*/
.hero {
    background-color:var(--color-bacgraund-hovfut);
    color: #ffffff;
}

.hero-title {
        font-weight: 900;
        font-size: 44px;
        line-height: 60px;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: #ffffff;
}

.button {
        font-weight: 700;
        font-size: 16px;
        line-height: 1.8;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        cursor: pointer;
        background-color:var(--color-logo);
        color: #ffffff;
}
.button:hover,
.button:focus{
    background-color:#188CE8;
    color: #ffffff;
}
/*========================HERO==================================================*/
/*============================section idea 2==============================================*/
.section-idea-details {
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;
        color:var(--primery-text-color);
}
.section-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--title-text-color);
}
.section-title-main{
font-weight: 700;
font-size: 36px;
line-height: 1.1;
text-align: center;
letter-spacing: 0.03em;
color:var(--title-text-color);
}
/*===========================================idea============================*/
/*section-whatarewedoing*/
/*=================================section team===========================================*/
.section-team {
    
    background-color: #F5F4FA;
}
.section-team-card {
    background-color: #ffffff;
}
.section-title-team {
        font-weight: 500;
        font-size: 16px;
        line-height:1.2
        ;
        text-align: center;
        letter-spacing: 0.03em;
        color:var(--title-text-color);
}
.section-team-prof {
        font-size: 16px;
        line-height: 1.2;
        text-align: center;
        letter-spacing: 0.03em;
        color:var(--primery-text-color);
}
/*=================================section team===========================================*/
/*=========================================footer================================================*/
.footer {
    background-color:var(--color-bacgraund-hovfut);
    color: #ffffff rpga;
    cursor: pointer;
}
.footer-webstudio {

    font-family: 'Raleway',sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.2;
        letter-spacing: 0.03em;   
         color: #ffffff;
}

.footer-web {
    color:var(--color-logo);
}
.section-footer {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;
}
.futer-maps {
    color: #ffffff;
}

.footer-mail {
    color: rgba(255, 255, 255, 0.6);
}

.footer-tel {
    color: rgba(255, 255, 255, 0.6);
}
/*=========================================footer================================================*/
/*============================PORTFOLIO=============================================*/

/*main sectiom*/
.section-main{
    background-color: #E5E5E5;
}
/*button portfolio*/
.button-menu-portfolio{
    font-family: inherit;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.6;
        text-align: center;
        letter-spacing: 0.03em;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        background-color:#F5F4FA;
        color:var(--title-text-color);
        cursor: pointer;
}
.button-menu-portfolio:hover,
.button-menu-portfolio:focus {
background-color: var(--color-logo);
color: #ffffff;}
/*progect card section*/

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!ошибка не меняется фон*/
.section-project-card {
    background-color:#ffffff;
}
.project-section-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color:var(--title-text-color);
}

.project-section-text {
        font-size: 16px;
        line-height: 1.8;
        letter-spacing: 0.03em;
        color:var(--primery-text-color);
}